<!doctype html>{% load static %}
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <title>TIC-TAC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo3.png' %}" />

    <!-- Layout config Js -->
    <script src="{% static 'dash/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'dash/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dash/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dash/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'dash/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<style>
.p {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-loader {
  width:25px;
  height:25px;
  border-radius:50%;
  border:4px solid;
  border-color:#E4E4ED;
  border-right-color: #766DF4;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}
</style>
    {% block style %}
    {% endblock style %}

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->

                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>

            </div>

            <div class="d-flex align-items-center">

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>

                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" src="{% static 'img/pp.png' %}" alt="Header Avatar">
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text"style="text-transform: uppercase;">{{user.name}}</span>
                                <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">---</span>
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <h6 class="dropdown-header" style="text-transform: uppercase;"></h6>
                        <a class="dropdown-item" href=""><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profile</span></a>
                        <a class="dropdown-item" href=""><i class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Aides</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=""><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Parametre</span></a>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Deconnexion</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Light Logo-->
                <a href="{% url 'dash' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'img/logo3.png' %}" alt="Logo" height="35"/>
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'img/logo3.png' %}" alt="Logo" height="80"/>
                    </span>
                </a>            
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>
{% block activenav %}
            <div id="scrollbar">
                <div class="container-fluid">
                    
                      
                    
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link active" href="{% url 'dash' %}">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>

                            </a>
                            
                        </li> <!-- end Dashboard Menu -->
                        

                        </ul>
                            
                </div>
                <!-- Sidebar -->
            </div>{% endblock activenav %}
        </div>
            <div class="sidebar-background"></div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        {% block main %}         
        {% endblock main %}
            <!-- End Page-content -->
            
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © NEURONS.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                            Develop by christ Ngakosso
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->


    <!-- JAVASCRIPT -->
    <script>
        $(document).ready(function () {
            $("#btnFetch").click(function () {
                // disable button
                $(this).html(
                    '<i class="mdi mdi-spin mdi-loading"></i> loading... '
                );
            });
        });
        $(document).ready(function () {
            $("#btnFetch2").click(function () {
                // disable button
                $(this).html(
                    '<i class="mdi mdi-spin mdi-loading"></i> loading... '
                );
            });
        });
    </script>
    <script src="{% static 'dash/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dash/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dash/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'dash/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'dash/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'dash/js/plugins.js' %}"></script>

    <!-- list.js min js -->
    <script src="{% static 'dash/libs/list.js/list.min.js' %}"></script>
    <script src="{% static 'dash/libs/list.pagination.js/list.pagination.min.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'dash/libs/apexcharts/apexcharts.min.js' %}"></script>

    <!--crypto-buy-sell init-->
    <script src="{% static 'dash/js/pages/crypto-buy-sell.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'dash/js/app.js' %}"></script>
    {% block script %}
      
    {% endblock script %}
</body>
</html>