{% extends "layouts/base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'dash/libs/filepond/filepond.min.css' %}" type="text/css"  />
    <link rel="stylesheet" href="{% static 'dash/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css' %}">
    <style>
        .contentDiv {
            transition: opacity 0.5s ease; /* Transition de fondu */
        }
        .hidden {
            opacity: 0; /* Définir l'opacité à 0 lorsque caché */
            pointer-events: none; /* Désactiver les événements sur les éléments cachés */
        }
  .upload-container {
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  .upload-container:hover {
    border-color: #333;
  }
  .upload-container input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .upload-container label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
  }
  .upload-container label:hover {
    background-color: #f7f7f7;
  }

  .image-preview {
    border: 2px solid blue;
    padding: 5px;
    margin-top: 10px;
  }
</style>
{% endblock link %}


{% block main %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Add Event</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">TIC</a></li>
                                        <li class="breadcrumb-item active">TAC</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Creer un nouvel Evenement</h5>
                                </div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row g-3">                     
                                                <h5 class="fw-semibold mb-3"></h5>
                                                <div class="upload-container">
                                                    <input class="" type="file" name="banniere" accept="image/*" required="" id="id_banniere" data-max-file-size="3MB">
                                                    <label for="id_banniere" id="labelBanniere">
                                                       Ajouter l'affiche de l'événement
                                                    </label><div id="imagePreview" class="mt-3 w-100"></div>
                                                </div>
                                                
                                            <div class="col-lg-12">
                                                <label for="productName" class="form-label">Nom de L'evenement</label>
                                                {{form.name}}
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <label for="discription" class="form-label">Desciption</label>
                                                    {{form.description}}
                                            </div><!--end col-->
                                            <div class="col-lg-4">
                                                <label for="externalLink" class="form-label">Lieu</label>
                                                {{form.location}}
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="externalLink" class="form-label">Date et Heure de l'evenement</label>
                                                {{form.date_debut}}
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="externalLink" class="form-label">Nombre de place</label>
                                                {{form.place_number}}
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        {{form.is_free}}
                                                        <label class="form-check-label" for="inlineCheckbox2">L'evenement est gratuit</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 contentDiv">
                                                <label for="itemPrice" class="form-label">Ticket Classic Prix</label>
                                                {{form.is_normal}}
                                            </div><!--end col-->
                                            <div  class="col-lg-4 contentDiv">
                                                <label for="size" class="form-label">Ticket ViP Prix</label>
                                                {{form.is_vip}}
                                            </div><!--end col-->
                                            <div class="col-lg-4 contentDiv">
                                                <label for="properties" class="form-label">Ticket Premium Prix</label>
                                                {{form.is_premium}}
                                            </div>
                                            <!--end col-->
                                            {{form.user}}
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-primary">Creer l'Event</button>
                                                </div>
                                            </div>
                                        </><!--end row-->
                                    </form>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        
    <!--nft create init js-->


{% endblock main %}


{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputBanniere = document.getElementById('id_banniere');
        var imagePreview = document.getElementById('imagePreview');
        
        if (inputBanniere && imagePreview) {
            inputBanniere.addEventListener('change', function(event) {
                var file = event.target.files[0];
                
                if (file) {
                    var reader = new FileReader();
                    
                    reader.onload = function(e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.classList.add('rounded', 'img-fluid'); // Ajoutez des classes Bootstrap ou personnalisées si nécessaire
                        
                        image.onload = function() {
                            imagePreview.innerHTML = '';
                            imagePreview.appendChild(image);
                        };
                    };
                    
                    reader.readAsDataURL(file);
                } else {
                    console.error('Aucun fichier sélectionné.');
                }
            });
        } else {
            console.error('Les éléments avec les ID id_banniere et imagePreview sont introuvables.');
        }
    });
    </script>
    
    

<script src="{% static 'dash/libs/filepond/filepond.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js' %}"></script>  

<script src="{% static 'dash/js/pages/apps-nft-create.init.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var hideCheckbox = document.getElementById("id_is_free");
        var contentDivs = document.querySelectorAll(".contentDiv");

        hideCheckbox.addEventListener("change", function() {
            if (this.checked) {
                contentDivs.forEach(function(div) {
                    div.classList.add("hidden");
                });
            } else {
                contentDivs.forEach(function(div) {
                    div.classList.remove("hidden");
                });
            }
        });
    });
</script>
{% endblock script %} 