{% extends "layouts/base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'dash/libs/filepond/filepond.min.css' %}" type="text/css"  />
    <link rel="stylesheet" href="{% static 'dash/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css' %}">
    <style>
        .contentDiv {
            transition: opacity 0.5s ease; /* Transition de fondu */
        }
        .hidden {
            opacity: 0; /* Définir l'opacité à 0 lorsque caché */
            pointer-events: none; /* Désactiver les événements sur les éléments cachés */
        }
    </style>
{% endblock link %}


{% block main %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Add Event</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">TIC</a></li>
                                        <li class="breadcrumb-item active">TAC</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <form action="" method="post" enctype="multipart/form-data"> {{form}} <input type="submit" value="okkkkkkkkkkkkkkkkk"></form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Creer un nouvel Evenement</h5>
                                </div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row g-3">
                                            <div class="col-lg-12">
                                                <h5 class="fw-semibold mb-3">Affiche ou Banniere</h5>
                                                {{form.banniere}}
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <label for="productName" class="form-label">Nom de L'evenement</label>
                                                {{form.name}}
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <label for="discription" class="form-label">Desciption</label>
                                                    {{form.description}}
                                            </div><!--end col-->
                                            <div class="col-lg-4">
                                                <label for="externalLink" class="form-label">Lieu</label>
                                                {{form.location}}
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="externalLink" class="form-label">Date et Heure de l'evenement</label>
                                                {{form.date_debut}}
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="externalLink" class="form-label">Nombre de place</label>
                                                {{form.place_number}}
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        {{form.is_free}}
                                                        <label class="form-check-label" for="inlineCheckbox2">L'evenement est gratuit</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 contentDiv">
                                                <label for="itemPrice" class="form-label">Ticket Classic Prix</label>
                                                {{form.is_normal}}
                                            </div><!--end col-->
                                            <div  class="col-lg-4 contentDiv">
                                                <label for="size" class="form-label">Ticket ViP Prix</label>
                                                {{form.is_vip}}
                                            </div><!--end col-->
                                            <div class="col-lg-4 contentDiv">
                                                <label for="properties" class="form-label">Ticket Premium Prix</label>
                                                {{form.is_premium}}
                                            </div>
                                            <!--end col-->
                                            {{form.user}}
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-primary">Creer l'Event</button>
                                                </div>
                                            </div>
                                        </><!--end row-->
                                    </form>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        
    <!--nft create init js-->


{% endblock main %}


{% block script %}


<script src="{% static 'dash/libs/filepond/filepond.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js' %}"></script>
<script src="{% static 'dash/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js' %}"></script>  

<script src="{% static 'dash/js/pages/apps-nft-create.init.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var hideCheckbox = document.getElementById("id_is_free");
        var contentDivs = document.querySelectorAll(".contentDiv");

        hideCheckbox.addEventListener("change", function() {
            if (this.checked) {
                contentDivs.forEach(function(div) {
                    div.classList.add("hidden");
                });
            } else {
                contentDivs.forEach(function(div) {
                    div.classList.remove("hidden");
                });
            }
        });
    });
</script>
{% endblock script %} 