{% extends 'layouts/base.html' %}
{% load static %}


{% block main %}

<!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Dashboard</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">TIC</a></li>
                                        <li class="breadcrumb-item active">TAC</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="card">
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="search-box">
                                        <input type="text" class="form-control" id="searchMemberList" placeholder="Search for name or designation...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-auto ms-auto">
                                    <div class="list-grid-nav hstack gap-1">
                                        <button type="button" id="grid-view-button" class="btn btn-soft-info nav-link btn-icon fs-14 active filter-button"><i class="ri-grid-fill"></i></button>
                                        <button type="button" id="list-view-button" class="btn btn-soft-info nav-link  btn-icon fs-14 filter-button"><i class="ri-list-unordered"></i></button>
                                        <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-soft-info btn-icon fs-14"><i class="ri-more-2-fill"></i></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                            <li><a class="dropdown-item" href="#">All</a></li>
                                            <li><a class="dropdown-item" href="#">Last Week</a></li>
                                            <li><a class="dropdown-item" href="#">Last Month</a></li>
                                            <li><a class="dropdown-item" href="#">Last Year</a></li>
                                        </ul>
                                        <a class="btn btn-success " href="{% url 'add_event' %}"><i class="ri-add-fill me-1 align-bottom"></i> Add Event</a>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div id="teamlist">
                                    <div class="team-list row grid-view-filter" id="team-member-list">

                                        {% for ev in events %}
                                        
                                      <div class="col">
                                        <div class="card team-box">
                                          <div class="team-cover">
                                            
                                                     <a class="member-name"
                                                      data-bs-toggle="offcanvas"
                                                      href="#member-overview{{ev.id}}"
                                                      aria-controls="member-overview"
                                                    >
                                            <img src="{{ev.banniere.url}}" alt="" class="img-fluid" /></a
                                            >
                                          </div>
                                          <div class="card-body p-4">
                                            <div class="row align-items-center team-row">
                                              <div class="col team-settings">
                                                <div class="row">
                                                  <div class="col">
                                                    <div class="flex-shrink-0 me-2">
                                                      <button
                                                        type="button"
                                                        class="btn btn-light btn-icon rounded-circle btn-sm favourite-btn"
                                                      >
                                                        <i class="ri-star-fill fs-14"></i>
                                                      </button>
                                                    </div>
                                                  </div>
                                                  <div class="col text-end dropdown">
                                                    <a
                                                      href="javascript:void(0);"
                                                      data-bs-toggle="dropdown"
                                                      aria-expanded="false"
                                                    >
                                                      <i class="ri-more-fill fs-17"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                      <li>
                                                        <a
                                                          class="dropdown-item edit-list"
                                                          href="#addmemberModal"
                                                          data-bs-toggle="modal"
                                                          data-edit-id="12"
                                                          ><i
                                                            class="ri-pencil-line me-2 align-bottom text-muted"
                                                          ></i
                                                          >Edit</a
                                                        >
                                                      </li>

                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-lg-4 col">
                                                <div class="team-profile-img pt-5">

                                                </div>
                                              </div>
                                              <a href="#!"><h5>{{ev.name}}</h5></a>  <p class="text-muted">Categorie</p> <div class="d-flex gap-4 mb-3">  <div><i class="ri-map-pin-2-line text-primary me-1 align-bottom"></i>{{ev.location}}</div>                    <div><i class="ri-time-line text-primary me-1 align-bottom"></i> {{ev.date_debut}}</div>                </div>                <p class="text-muted">{{ev.description}}</p>                <div class="hstack gap-2"><span class="badge bg-success-subtle text-success">Full Time</span><span class="badge bg-primary-subtle text-primary">Freelance</span><span class="badge bg-danger-subtle text-danger">Urgent</span></div>                <div class="mt-4 hstack gap-2">                    <a href="/accounts/new_ticket/{{ev.id}}" class="btn btn-soft-primary w-100">Apercu</a>                    <a href="apps-job-details.html" class="btn btn-soft-success w-100">share</a> 
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    {% endfor %}
                                      
                                    </div>
                                    <div class="text-center mb-3">
                                      <a href="javascript:void(0);" class="text-success"
                                        ><i class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"></i> Load
                                        More
                                      </a>
                                    </div>
                                  </div>
                                  
                                <div class="py-4 mt-4 text-center" id="noresult" style="display: none;">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px"></lord-icon>
                                    <h5 class="mt-4">Sorry! No Result Found</h5>
                                </div>
      

    
                                <!--end offcanvas-->
                            </div>
                        </div><!-- end col -->
                    </div>

                                {% for ev in events %}
                                <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="member-overview{{ev.id}}">
                                    <!--end offcanvas-header-->
                                    <div class="offcanvas-body profile-offcanvas p-0">
                                        <div class="team-cover">
                                            <img src="{{ev.banniere.url}}" alt="" class="img-fluid" />
                                        </div>
                                        <div class="p-3">
                                            <div class="team-settings">
                                                <div class="row">
                                                    <div class="col">
                                                        <button type="button" class="btn btn-light btn-icon rounded-circle btn-sm favourite-btn "> <i class="ri-star-fill fs-14"></i> </button>
                                                    </div>
                                                    <div class="col text-end dropdown">
                                                        <a href="javascript:void(0);" id="dropdownMenuLink14" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ri-more-fill fs-17"></i>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink14">
                                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-star-line me-2 align-middle"></i>Favorites</a></li>
                                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-5-line me-2 align-middle"></i>Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <div class="p-3 text-center pb-5">
                                           
                                            <div class="mt-5 pt-5">
                                                <h5 class="fs-15 profile-name">{{ev.name}}</h5>
                                                <p class="text-muted profile-designation">Categorie</p>
                                            </div>
                                            <div class="hstack gap-2 justify-content-center mt-4">
                                                <div class="avatar-xs">
                                                    <a href="javascript:void(0);" class="avatar-title bg-soft-secondary text-secondary rounded fs-16">
                                                        <i class="ri-facebook-fill"></i>
                                                    </a>
                                                </div>
                                                <div class="avatar-xs">
                                                    <a href="javascript:void(0);" class="avatar-title bg-soft-success text-success rounded fs-16">
                                                        <i class="ri-slack-fill"></i>
                                                    </a>
                                                </div>
                                                <div class="avatar-xs">
                                                    <a href="javascript:void(0);" class="avatar-title bg-soft-info text-info rounded fs-16">
                                                        <i class="ri-linkedin-fill"></i>
                                                    </a>
                                                </div>
                                                <div class="avatar-xs">
                                                    <a href="javascript:void(0);" class="avatar-title bg-soft-danger text-danger rounded fs-16">
                                                        <i class="ri-dribbble-fill"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-0 text-center">
                                            <div class="col-6">
                                                <div class="p-3 border border-dashed border-start-0">
                                                    <h5 class="mb-1 profile-project">124</h5>
                                                    <p class="text-muted mb-0">Projects</p>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-6">
                                                <div class="p-3 border border-dashed border-start-0">
                                                    <h5 class="mb-1 profile-task">81</h5>
                                                    <p class="text-muted mb-0">Tasks</p>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                        <div class="p-3">
                                            <h5 class="fs-15 mb-3">Personal Details</h5>
                                            <div class="mb-3">
                                                <p class="text-muted text-uppercase fw-semibold fs-12 mb-2">Number</p>
                                                <h6>+(242) {{user.phone}}</h6>
                                            </div>
                                            <div class="mb-3">
                                                <p class="text-muted text-uppercase fw-semibold fs-12 mb-2">Email</p>
                                                <h6>{{user.email}}</h6>
                                            </div>
                                        </div>
                                        <div class="p-3 border-top">
                                            <h5 class="fs-15 mb-4">File Manager</h5>
                                            <div class="d-flex mb-3">
                                                <div class="flex-shrink-0 avatar-xs">
                                                    <div class="avatar-title bg-soft-danger text-danger rounded fs-16">
                                                        <i class="ri-image-2-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1"><a href="javascript:void(0);">Images</a></h6>
                                                    <p class="text-muted mb-0">4469 Files</p>
                                                </div>
                                                <div class="text-muted">
                                                    12 GB
                                                </div>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <div class="flex-shrink-0 avatar-xs">
                                                    <div class="avatar-title bg-soft-secondary text-secondary rounded fs-16">
                                                        <i class="ri-file-zip-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1"><a href="javascript:void(0);">Documents</a></h6>
                                                    <p class="text-muted mb-0">46 Files</p>
                                                </div>
                                                <div class="text-muted">
                                                    3.46 GB
                                                </div>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <div class="flex-shrink-0 avatar-xs">
                                                    <div class="avatar-title bg-soft-success text-success rounded fs-16">
                                                        <i class="ri-live-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1"><a href="javascript:void(0);">Media</a></h6>
                                                    <p class="text-muted mb-0">124 Files</p>
                                                </div>
                                                <div class="text-muted">
                                                    4.3 GB
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 avatar-xs">
                                                    <div class="avatar-title bg-soft-primary text-primary rounded fs-16">
                                                        <i class="ri-error-warning-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1"><a href="javascript:void(0);">Others</a></h6>
                                                    <p class="text-muted mb-0">18 Files</p>
                                                </div>
                                                <div class="text-muted">
                                                    846 MB
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end offcanvas-body-->
                                    <div class="offcanvas-foorter border p-3 hstack gap-3 text-center position-relative">
                                        <button class="btn btn-light w-100"><i class="ri-question-answer-fill align-bottom ms-1"></i> share</button>
                                        <a href="pages-profile.html" class="btn btn-primary w-100"><i class="ri-user-3-fill align-bottom ms-1"></i> Apercu</a>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--end offcanvas-->
                            </div>
                        </div><!-- end col -->
                    </div>
                    <!--end row-->
                </div><!-- container-fluid -->
            </div><!-- End Page-content -->
        </div>
{% endblock main %}
{% block script %}
      <script src="{% static 'dash/js/pages/team.init.js' %}"></script>
{% endblock script %}