{% extends 'layouts/log.html' %}
{% load static %}


{% block main %}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Create New Account</h5>
                    <p class="text-muted">Get your free TIC-TAC account now</p>
                </div>
                <div class="p-2 mt-4">
                    <form class="needs-validation" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="mprN1pF1gTYg4Kv2gcfmiMlKSgDRG7jKEjNs2ZqdC1HfcQzc0nD4VIlKzYsw2xaD">
                        
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Nom et Prénom<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_name" name="name" placeholder="Entrer votre nom et prénom" maxlength="80" required>
                            <div class="invalid-feedback">Veuillez entrer votre nom et prénom.</div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="id_email" name="email" placeholder="Entrez votre email" maxlength="254" autofocus required>
                            <div class="invalid-feedback">Veuillez entrer votre email.</div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_phone" class="form-label">Téléphone <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_phone" name="phone" placeholder="Entrez votre numéro de téléphone" maxlength="50" required>
                            <div class="invalid-feedback">Veuillez entrer votre numéro de téléphone.</div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_status" class="form-label">Status <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_status" name="status" value="1" maxlength="50" required>
                            <div class="invalid-feedback">Veuillez entrer votre status.</div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_password1" class="form-label">Mot de passe</label>
                            <div class="position-relative auth-pass-inputgroup">
                                <input type="password" class="form-control pe-5 password-input" id="id_password1" name="password1" placeholder="Entrez votre mot de passe" aria-describedby="passwordInput" autocomplete="new-password" required>
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                <div class="invalid-feedback">Veuillez entrer votre mot de passe.</div>
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_password2" class="form-label">Confirmation du mot de passe</label>
                            <div class="position-relative auth-pass-inputgroup">
                                <input type="password" class="form-control pe-5 password-input" id="id_password2" name="password2" placeholder="Confirmez votre mot de passe" aria-describedby="passwordInput" autocomplete="new-password" required>
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                <div class="invalid-feedback">Veuillez confirmer votre mot de passe.</div>
                            </div>
                        </div>
                    
                        <div class="mb-4">
                            <p class="mb-0 fs-12 text-muted fst-italic">En vous inscrivant, vous acceptez nos <a href="#" class="text-primary text-decoration-underline fst-normal fw-medium">conditions d'utilisation</a></p>
                        </div>
                    
                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                            <h5 class="fs-13">Le mot de passe doit contenir :</h5>
                            <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 caractères</b></p>
                            <p id="pass-lower" class="invalid fs-12 mb-2">Au moins une lettre <b>minuscule</b> (a-z)</p>
                            <p id="pass-upper" class="invalid fs-12 mb-2">Au moins une lettre <b>majuscule</b> (A-Z)</p>
                            <p id="pass-number" class="invalid fs-12 mb-0">Au moins un <b>chiffre</b> (0-9)</p>
                        </div>
                        
                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit">S'inscrire</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="mt-4 text-center">
            <p class="mb-0">J'ai deja un compte <a href="{% url "login" %}" class="fw-semibold text-primary text-decoration-underline"> Se Conneter</a> </p>
        </div>

    </div>
</div>
<!-- end row -->


{% endblock main %}