{% extends 'layouts/log.html' %}
{% load static %}


{% block main %}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Create New Account</h5>
                    <p class="text-muted">Get your free TIC-TAC account now</p>
                </div>
                <div class="p-2 mt-4">
                    <form class="needs-validation" method="post">
                     {% csrf_token %}
                     {{form}}                
                        <div class="mb-4">
                            <p class="mb-0 fs-12 text-muted fst-italic">En vous inscrivant, vous acceptez nos <a href="#" class="text-primary text-decoration-underline fst-normal fw-medium">conditions d'utilisation</a></p>
                        </div>
                    
                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                            <h5 class="fs-13">Le mot de passe doit contenir :</h5>
                            <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 caractères</b></p>
                            <p id="pass-lower" class="invalid fs-12 mb-2">Au moins une lettre <b>minuscule</b> (a-z)</p>
                            <p id="pass-upper" class="invalid fs-12 mb-2">Au moins une lettre <b>majuscule</b> (A-Z)</p>
                            <p id="pass-number" class="invalid fs-12 mb-0">Au moins un <b>chiffre</b> (0-9)</p>
                        </div>
                        
                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit">S'inscrire</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="mt-4 text-center">
            <p class="mb-0">J'ai deja un compte <a href="{% url "login" %}" class="fw-semibold text-primary text-decoration-underline"> Se Conneter</a> </p>
        </div>

    </div>
</div>
<!-- end row -->


{% endblock main %}