{% extends 'layouts/log.html' %}
{% load static %}
{% block link %}
<style>
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
{% endblock link %}

{% block main %}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Créer un nouveau compte</h5>
                    <p class="text-muted">Obtenez votre compte TIC-TAC</p>
                </div>
                    <div class="text-center">
                        <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                            <div id="imagePreview"><img class="rounded-circle avatar-xl img-thumbnail user-profile-image" src="{% static 'img/pp.png' %}" alt=""></div>
                            <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                <label for="id_profil" class="profile-photo-edit avatar-xs">
                                    <span class="avatar-title rounded-circle bg-light text-body">
                                        <i class="ri-camera-fill"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <h5 class="fs-16 mb-1">Photo Profil</h5>
                    </div>
                <div class="p-2 mt-4">              
                    <form class="needs-validation" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     {{form}}                
                        <div class="mb-4">
                            <p class="mb-0 fs-12 text-muted fst-italic">En vous inscrivant, vous acceptez nos <a href="#" class="text-primary text-decoration-underline fst-normal fw-medium">conditions d'utilisation</a></p>
                        </div>
                    
                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                            <h5 class="fs-13">Le mot de passe doit contenir :</h5>
                            <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 caractères</b></p>
                            <p id="pass-lower" class="invalid fs-12 mb-2">Au moins une lettre <b>minuscule</b> (a-z)</p>
                            <p id="pass-upper" class="invalid fs-12 mb-2">Au moins une lettre <b>majuscule</b> (A-Z)</p>
                            <p id="pass-number" class="invalid fs-12 mb-0">Au moins un <b>chiffre</b> (0-9)</p>
                        </div>
                        
                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit">S'inscrire</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="mt-4 text-center">
            <p class="mb-0">J'ai deja un compte <a href="{% url "login" %}" class="fw-semibold text-primary text-decoration-underline"> Se Conneter</a> </p>
        </div>

    </div>
</div>
<!-- end row -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var idProfilInput = document.getElementById('id_profil');
        var imagePreview = document.getElementById('imagePreview');
        
        if (idProfilInput && imagePreview) {
            idProfilInput.addEventListener('change', function(event) {
                var file = event.target.files[0];
                
                if (file) {
                    var reader = new FileReader();
                    
                    reader.onload = function(e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.classList.add('rounded-circle', 'avatar-xl', 'img-thumbnail', 'user-profile-image');
                        
                        image.onload = function() {
                            imagePreview.innerHTML = '';
                            imagePreview.appendChild(image);
                        };
                    };
                    
                    reader.readAsDataURL(file);
                } else {
                    console.error('Aucun fichier sélectionné.');
                }
            });
        } else {
            console.error('Les éléments avec les ID id_profil et imagePreview sont introuvables.');
        }
    });
    </script>
    

{% endblock main %}