
<!doctype html> {% load static %}
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="enable">

<head>

    <meta charset="utf-8" />
    <title>Detail Ticket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo3.png' %}" />
    <link href="{% static 'dash/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'dash/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'dash/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dash/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dash/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
</head>

<body>
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content p-0">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-4">
                                <div class="col-lg-4">
                                    <div class="sticky-side-div">
                                        <div class="card ribbon-box border shadow-none right">
                                            <div class="ribbon-two ribbon-two-success"><span><i class="ri-fire-fill align-bottom"></i>Actif</span></div>
                                            <img src="{{ticket.event.banniere.url}}" alt="" class="img-fluid rounded">
                                        </div>
                                        <div class="hstack gap-2">
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-8">
                                    <div>
                                        <div class="dropdown float-end">
                                            <button  id="shareButton" class="btn btn-primary" type="button">
                                                <i class="bx bx-share-alt"></i> Share
                                            </button>
                                        </div>
                                        <h4>{{event.name}}</h4>
                                        <div class="hstack gap-3 flex-wrap">
                                            <div class="text-muted">Evenement: <a href="#" class="text-primary fw-medium">{{ticket.event.name}}</a></div>
                                            <div class="vr"></div>
                                            <div class="text-muted">Date et heure : <span class="text-body fw-medium">{{ticket.event.date_debut}}</span></div>
                                            <div class="vr"></div>
                                            <div class="text-muted">Lieu: <span class="text-body fw-medium">{{ticket.event.location}}</span></div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="p-2 border border-dashed rounded text-center">
                                                    <div>
                                                        <p class="text-muted fw-medium mb-1">Montant</p>
                                                        <h5 class="fs-17 text-success mb-0">FCFA {{ticket.price}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="p-2 border border-dashed rounded text-center">
                                                    <div>
                                                        <p class="text-muted fw-medium mb-1">Quantite</p>
                                                        <h5 class="fs-17 mb-0">{{ticket.quantite}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                            <div class="col-lg-3 col-sm-6">
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                <div class="p-2 border border-dashed rounded text-center">
                                                    <div>
                                                        <p class="text-muted fw-medium mb-1">Nombre de validation</p>
                                                        <h5 class="fs-17 mb-0"><input class="form-control" type="number" max="{{ticket.quantite}}"></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="p-2 border border-dashed rounded text-center">
                                                    <button type="submit" class='btn btn-success w-100'>
                                                        Valider
                                                    </button>
                                                </div></form>
                                            </div><!-- end col -->
                                        </div><!--end row-->
                                        <div class="mt-4 text-muted">
                                            <h5 class="fs-14">Rang:</h5>
                                            <p class='btn btn-danger btn-sm'>PREMIUM</p>
                                        </div>

                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                    </div><!--end card-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Neurons Tic Tac
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script>
        document.getElementById('shareButton').addEventListener('click', async () => {
            if (navigator.share) {
                try {
                    await navigator.share({
                        title: '{{ticket.event.name}}',
                        text: '',
                        url: 'http://{{ host_name }}{% url "ticket" ticket.id %}'
                    });
                    console.log('Contenu partagé avec succès !');
                } catch (error) {
                    console.error('Erreur lors du partage:', error);
                }
            } else {
                console.log('L\'API Web Share n\'est pas disponible dans ce navigateur.');
            }
        });
        </script>
    <!-- JAVASCRIPT -->
    <script src="{% static 'dash/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dash/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dash/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'dash/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'dash/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'dash/js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'dash/libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'dash/libs/swiper/swiper-bundle.min.js' %}"></script>

    <!--job landing init -->
    <script src="{% static 'dash/js/pages/job-lading.init.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'dash/js/app.js' %}"></script>

    <script src="{% static 'dash/js/pages/apps-nft-item-details.init.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Masquer le preloader lorsque le DOM est entièrement chargé
            document.getElementById("preloader").style.display = "none";
        });
        
        window.addEventListener("load", function() {
            // Masquer le preloader lorsque toutes les ressources de la page (images, styles, etc.) sont chargées
            document.getElementById("preloader").style.display = "none";
        });
        </script>


</body>

</html>


